<%= provide(:title, "Help") %>

<div class="row ml-md-5 ml-sm-3">
  <div class="col-sm-5 col-md-3 border big_plate">
    <div ><h5 class="mt-3">Search</h5><p>Here is some utility of searching ...</p></div>
    <div><h5>Create</h5><p>Here is some utility of create ...</p></div>
    <div><h5>Legend</h5><p>This outfit is ideal for any tibian who loves clowning around or joking other people. </p></div>
    <div><h5>Location</h5><p>In and around Thais, Edron, Cormaya, Kazordoon, Carlin, Venore, Port Hope, Liberty Bay, and several other locations </p></div>
    <div><h5>Dangers</h5><p>Lesser creatures, Slimes, Rotworms, Ghouls, Stalkers, Demon Skeletons, Dwarf Guard, Quaras, all kind of Minotaurs, all kind of Apes, all kind of Orcs, Dragon, and others. </p></div>
    <div><h5>Rewards</h5><p>A Jester Staff, a Jester Hat and Jester Outfits and addons, achievements: Allow Cookies?, Perfect Fool and Fool at Heart.</p></div>
  </div>
  <div class="col-sm-6 col-md-8 border big_plate">
    <div><h4 class="mt-3">Becoming the Carry!</h4><p>In a hedge fund environment, carried interest is usually referred to as a "performance fee" and because it invests in liquid investments, it is often able to pay carried interest annually if the fund has generated a profit. They have historically centered on 20%, but have had greater variability than those of private equity funds. In extreme cases performance fees reach as high as 44% of a fund's profits but is usually between 15% and 20%.</p></div>
    <div><h4>Cut the Trees!</h4><p>When Erig.net became a Supported Fansite on November 24, 2005, TibiaWiki, being part of that site, became a supported fansite too. However TibiaWiki had an immense slowness during peak times under the old domain because of its popularity among Tibia players. The new domain hosted by Wikia provides a better availability of this well-liked fansite, which has been supported since January 22, 2008. With the introduction of the new fansite programme, TibiaWiki became a promoted fansite, on November 11, 2008.</p></div>
  </div>
</div>


