<%= provide(:title, "Home") %>

<div class="container-fluid">
  <div class="jumbotron-fluid">
    <h1>Noo App</h1>
  </div>
  <div class="row">
    <div class="col-md-4 border">
      One of three columns One of three columns One of three columns One of three columns One of three columns
    </div>
    <div class="col-md-4 border">
      One of three columns One of three columns One of three columns One of three columns One of three columns 
    </div>
    <div class="col-md-4">
      One of three columns One of three columns One of three columns One of three columns One of three columns 
    </div>
  </div>
</div>
