<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-danger mb-0">
    The form contains <%= pluralize(object.errors.count, "error") %>.
    <hr>
    <ul class="mb-1">
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
