@import "bootstrap";

/* mixin, variables */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* universal */

body {
  padding-top: 0px;
  font-family: Ubuntu;
  background-color: #f7f7f7;
}

.center {
    text-align: center;
}

.logo {
  padding: 4px;
  padding-top: 0px;
  &:hover {
    background-color: #222222;
  }
}

.big_plate {
  background-color: #dddddd;
  margin: 5px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 0.5;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
}

.desc {
  font-size: 1em;
  color: #444;
}

//
// Main navbar
//
.nav-item {
  padding-top: 0px;
  &:hover {
    background-color: #222222;
  }
}

/* footer */
.footlink {
  font-size: 0.8em;
  color: #888888;
  &:hover {
    color: #777777;
    font-weight: bold;
  }
}

footer {
  border-top: 1px solid #888888;
}

/* form */

input, textarea, select .uneditable_input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: red;
  }
}
