@import "bootstrap";


/* universal */

body {
  padding-top: 0px;
  font-family: Ubuntu;
}

.center {
    text-align: center;
}

.logo {
  padding: 4px;
  padding-top: 0px;
  &:hover {
    background-color: #222222;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 0.5;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
}

.desc {
  font-size: 1em;
  color: #444;
}

//
// Main navbar
//
.nav-item {
  padding-top: 0px;
  &:hover {
    background-color: #222222;
  }
}

/* footer */
.footlink {
  font-size: 0.8em;
  color: #888888;
  &:hover {
    color: #777777;
    font-weight: bold;
  }
}

footer {
  border-top: 1px solid #888888;
}
